# nodejs / workspaces
node_modules/
/packages/*/dist/

# direnv
/.direnv

# project secrets
.env.dec

# terraform
/infrastructure/*/config/*.hcl
!/infrastructure/*/config/*.hcl.example
infrastructure/*/.terraform.lock.hcl
infrastructure/*/.terraform/
