bucket = "name-of-bucket"
key = "key/to/object"

region = "us-east-1"
endpoints = {
    s3 = "https://<account-id>.r2.cloudflarestorage.com"
}
access_key                  = "<access_key>"
secret_key                  = "<secret_key>"

skip_credentials_validation = true
skip_region_validation      = true
skip_requesting_account_id  = true
skip_metadata_api_check     = true
skip_s3_checksum            = true
